[submodule "comp-520/project"]
	path = comp-520/project
	url = git@github.com:tsani/comp-520-project.git
[submodule "comp-520/peephole"]
	path = comp-520/peephole
	url = git@github.com:tsani/peephole.git
[submodule "comp-621/wu-wei"]
	path = comp-621/wu-wei
	url = https://github.com/Sable/wu-wei-benchmarking-toolkit.git
[submodule "comp-621/assignments/1/matlab-implementation-template"]
	path = comp-621/matlab-implementation-template
	url = https://github.com/Sable/matlab-implementation-template
[submodule "comp-621/assignments/AspectMatlab"]
	path = comp-621/AspectMatlab
	url = https://github.com/Sable/AspectMatlab.git
[submodule "comp-621/mcsaf-intro"]
	path = comp-621/mcsaf-intro
	url = https://github.com/Sable/mcsaf-intro
[submodule "comp-621/mclab-core"]
	path = comp-621/mclab-core
	url = https://github.com/Sable/mclab-core
[submodule "comp-525/project"]
	path = comp-525/project
	url = git@github.com:tortoise.git
