[submodule "hgen-396"]
	path = hgen-396
	url = git@github.com:djeik/HGEN-396.git
[submodule "comp-512/project"]
	path = comp-512/project
	url = https://github.com/djeik/comp-512-project.git
[submodule "comp-520/project"]
	path = comp-520/project
	url = git@github.com:djeik/comp-520-project.git
[submodule "comp-527"]
	path = comp-527
	url = tsani@j:git/comp-527.git
[submodule "comp-520/peephole"]
	path = comp-520/peephole
	url = git@github.com:djeik/peephole.git
[submodule "comp-621/wu-wei"]
	path = comp-621/wu-wei
	url = https://github.com/Sable/wu-wei-benchmarking-toolkit.git
[submodule "comp-621/assignments/1/matlab-implementation-template"]
	path = comp-621/matlab-implementation-template
	url = https://github.com/Sable/matlab-implementation-template
